/* Основные стили страницы */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black; /* Фон всей страницы */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive; /* Забавный и читаемый шрифт */
    color: white;
    overflow: hidden;
}

/* Стили контейнера для текста */
.container {
    background-color: #ff8c00; /* Цвет фона контейнера - оранжевый */
    border-radius: 50%; /* Закругление для создания формы кляксы */
    padding: 40px; /* Внутренние отступы, чтобы текст не касался краев */
    margin: 20px; /* Отступы для центрирования контейнера */
    width: 80vw; /* Ширина контейнера относительно ширины вьюпорта */
    height: 60vh; /* Высота контейнера относительно высоты вьюпорта */
    max-width: 600px; /* Максимальная ширина контейнера */
    max-height: 400px; /* Максимальная высота контейнера */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование текста по вертикали */
    text-align: center; /* Центрирование текста по горизонтали */
    overflow: hidden; /* Предотвращение выхода текста за пределы контейнера */
    position: relative; /* Позиционирование относительно нормального потока */
    z-index: 2; /* Убедитесь, что текстовый контейнер находится над кнопками */
}

/* Стилизация кнопок */
.button {
    padding: 10px 20px;
    background-color: #ff4500; /* Оранжевый фон кнопок */
    color: white;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive; /* Шрифт, аналогичный основному тексту */
    font-size: 16px;
    border: none;
    border-radius: 5px; /* Скругление углов кнопок */
    position: fixed; /* Фиксированное позиционирование для размещения в углах */
    transition: background-color 0.3s ease;
}

#home {
    top: 20px;
    left: 20px;
}

#buy-now {
    top: 20px;
    right: 20px;
}

#tokenomics {
    bottom: 20px;
    left: 20px;
}

#how-to-buy {
    bottom: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90vw; /* Увеличение ширины контейнера на мобильных устройствах */
        height: 70vh; /* Увеличение высоты контейнера на мобильных устройствах */
        padding: 20px; /* Уменьшение отступов для большего пространства текста */
    }

    .button {
        font-size: 14px; /* Уменьшение размера шрифта кнопок для мобильных устройств */
    }
}
