body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    color: white;
    overflow: hidden;
}

.content-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px;
}

.text-box {
    background-color: #ffa500;
    padding: 20px;
    border-radius: 20px; /* Более округлые углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%; /* Шире бокс */
    max-width: 800px; /* Максимальная ширина бокса */
}

.back-button {
    position: absolute;
    top: -50px;
    left: 20px; /* Сдвигаем к левому краю */
    padding: 10px 15px;
    background-color: #ff4500;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Indie Flower', cursive;
    z-index: 10; /* Убедимся, что кнопка будет видна над другими элементами */
}

h1, .highlight {
    color: #FFFFFF;
    font-weight: bold;
}

@media (max-width: 768px) {
    .content-wrapper {
        margin: 10px;
    }

    .text-box {
        padding: 15px;
        max-width: 90%; /* Уменьшаем максимальную ширину для мобильных */
    }

    .back-button {
        top: 10px; /* Позиционируем кнопку выше текстового блока */
        left: 10px; /* Ближе к левому краю */
        font-size: 14px;
    }

    h1, h2, p, ul, li {
        font-size: 4vw; /* Адаптивный размер шрифта */
    }
}
