body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Центрируем видео по горизонтали */
    align-items: center; /* Центрируем видео по вертикали */
    z-index: -1;
    overflow: hidden; /* Обрезаем видео, выходящее за пределы контейнера */
}

.background-video {
    /* Убираем абсолютное позиционирование */
    max-width: 75%; /* Пример уменьшения размера видео до 75% от ширины экрана */
    max-height: 75%; /* Уменьшение по высоте, если нужно */
    object-fit: cover; /* Сохраняем пропорции видео */
}

.content {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.paw-button {
    display: inline-block;
    background-image: url('paw.webp');
    background-size: cover;
    width: 350px; /* Увеличенный размер */
    height: 350px; /* Увеличенный размер */
    text-align: center;
    line-height: 200px; /* Вертикальное центрирование может потребовать корректировки */
    color: white;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-size: 18px; /* Размер шрифта текста внутри лапки */
    position: absolute; /* Позиционирование элемента */
    transition: transform 0.3s ease;
}

.button-text {
    position: relative;
    top: 58%; /* Сдвигаем текст ниже от его центрального положения */
    transform: translateY(-50%);
    display: inline-block;
    text-align: center;
    width: 100%;
}

/* Позиционирование кнопок в углах остается без изменений */
#about { top: 20px; left: 20px; }
#buy-now { top: 20px; right: 20px; }
#tokenomics { bottom: 20px; left: 20px; }
#how-to-buy { bottom: 20px; right: 20px; }

.paw-button:hover {
    transform: scale(1.1);
    cursor: pointer; /* Чтобы показать, что элемент кликабельный */
}

@media (max-width: 768px) {
    .background-video {
        width: auto;
        height: auto;
        max-width: 75%;
        max-height: 75%;
    }

    .paw-button {
        width: 200px; /* Уменьшенный размер лапок */
        height: 200px; /* Уменьшенный размер лапок */
        line-height: 80px; /* Вертикально центрируем текст */
        font-size: 14px; /* Уменьшенный размер шрифта для текста */
    }
}
