body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
}

.tokenomics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff4500; /* Оранжевый фон кнопки 'Back' */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 100;
}

.tokenomics-box {
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.tokenomics-section h2 {
    color: white; /* Меняем цвет надписи на белый */
    font-size: 36px; /* Увеличиваем размер шрифта */
    margin-bottom: 20px; /* Добавляем отступ снизу для визуального пространства */
}

.stats-container {
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: transparent; /* Убираем сплошной белый фон */
}

.stat {
    background-color: white; /* Каждый блок с текстом теперь как отдельная кнопка */
    padding: 20px;
    border-radius: 5px; /* Скругляем углы для эффекта кнопки */
    font-size: 24px;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Высоту можно корректировать в зависимости от контента */
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Добавляем тень для имитации объема */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Добавляем плавность переходов */
}

.stat:hover {
    background-color: #ffe5b4; /* Изменяем цвет фона при наведении для интерактивности */
    transform: translateY(-2px); /* Небольшой эффект приподнятия */
}

@media (max-width: 768px) {
    .stats-container {
        grid-template-columns: 1fr; /* На мобильных устройствах все блоки в один столбец */
        gap: 20px; /* Увеличиваем расстояние между блоками */
    }
}
