.tokenomics-section {
    text-align: center;
    background-color: orange; /* Оранжевый фон для всей секции */
    padding: 40px 0; /* Вертикальный отступ для секции */
    border-radius: 10px;
    width: 100%; /* Ширина на весь экран */
    margin: auto;
    font-family: 'Luckiest Guy', cursive; /* Забавный и объемный шрифт */
}

.token-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Центрирование контейнеров */
}

.token-stat {
    background-color: transparent; /* Убираем белый фон */
    color: black; /* Цвет текста */
    padding: 20px;
    border-radius: 5px;
    font-size: 28px; /* Увеличенный размер шрифта для текста */
    width: 80%; /* Широкие контейнеры, можно корректировать */
    box-shadow: none; /* Убираем тень */
}

@media (max-width: 768px) {
    .token-stats {
        width: 95%; /* Адаптируем ширину для мобильных устройств */
    }
}
